{% extends "base.html" %}

{% import "bootstrap/utils.html" as utils %}
{% import "bootstrap/wtf.html" as wtf %}

{# Inside the ``content`` is where you should place most of your own stuff.
   This will keep scripts at the page end and a navbar you add on later
   intact. #}
{% block content %}
  <div class="container">
  {% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <div class="row">
      <div class="col-md-12">
        {{utils.flashed_messages(messages)}}
      </div>
    </div>
  {% endif %}
  {% endwith %}
    <div class="jumbotron">
      <h1>Image Color Palette Generator</h1>
      <img src = {{ file_path }} , width="400", height=auto >
      <form class="form" method="POST" enctype="multipart/form-data" role="form"> <!-- {{ wtf.form_field(form.photo) }} --> {{ wtf.quick_form(form, enctype="multipart/form-data") }} </form>
      <p class="text-center">
        <u>Top 10 Colors Used in the Image</u>
      </p>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>
              #
            </td>
            <td>
              Color
            </td>
            <td>
              Code
            </td>
          </tr>
        </thead>
        <tbody>
          {% for i, color in hex_color_codes %}
          <tr>
            <td>
              {{ i }}
            </td>
            <td>
              <img src= "static/{{ i }}.png">
            </td>
            <td>
              {{color}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
   </div>
{% endblock %}